//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

PCL_DEPENDENCIES_INCLUDE_PATH = "../PCL_1-3-0_Libraries_for_OF/3rdPartyLibs"
PCL_INCLUDE_PATH = "../PCL_1-3-0_Libraries_for_OF/pcl_1-3-0"

LIBUSB_INCLUDE = /opt/local/include
PCL_CONFIG = "$(PCL_INCLUDE_PATH)/include"
PCL_COMMON = "$(PCL_INCLUDE_PATH)/common/include"
PCL_OCTREE = "$(PCL_INCLUDE_PATH)/octree/include"
PCL_IO = "$(PCL_INCLUDE_PATH)/io/include"
PCL_SAMPLE_CONSENSUS = "$(PCL_INCLUDE_PATH)/sample_consensus/include"
PCL_KDTREE = "$(PCL_INCLUDE_PATH)/kdtree/include"
PCL_SEARCH = "$(PCL_INCLUDE_PATH)/search/include"
PCL_FILTERS = "$(PCL_INCLUDE_PATH)/filters/include"
PCL_SEGMENTATION = "$(PCL_INCLUDE_PATH)/segmentation/include"
PCL_RANGE_IMAGE = "$(PCL_INCLUDE_PATH)/range_image/include"
//PCL_VISUALIZATION = "$(PCL_INCLUDE_PATH)/visualization/include"
PCL_FEATURES = "$(PCL_INCLUDE_PATH)/features/include"
PCL_SURFACE = "$(PCL_INCLUDE_PATH)/surface/include"
PCL_KEYPOINTS = "$(PCL_INCLUDE_PATH)/keypoints/include"
PCL_REGISTRATION = "$(PCL_INCLUDE_PATH)/registration/include"

BOOST_INCLUDE = "$(PCL_DEPENDENCIES_INCLUDE_PATH)/boost_1_47_0/include"  
OPENNI_INCLUDE =  "$(PCL_DEPENDENCIES_INCLUDE_PATH)/openni/include" 
FLANN_INCLUDE = "$(PCL_DEPENDENCIES_INCLUDE_PATH)/flann-1.6.11/include"
EIGEN_INCLUDE = "$(PCL_DEPENDENCIES_INCLUDE_PATH)/eigen-eigen-3.0.3" 


OTHER_LDFLAGS = $(OF_CORE_LIBS) 
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(LIBUSB_INCLUDE) $(PCL_CONFIG) $(PCL_COMMON) $(PCL_OCTREE) $(PCL_IO) $(PCL_SAMPLE_CONSENSUS) $(PCL_KDTREE) $(PCL_SEARCH) $(PCL_FILTERS) $(PCL_SEGMENTATION) $(PCL_RANGE_IMAGE) $(PCL_FEATURES) $(PCL_SURFACE) $(PCL_KEYPOINTS) $(PCL_REGISTRATION) $(BOOST_INCLUDE) $(OPENNI_INCLUDE) $(FLANN_INCLUDE) $(EIGEN_INCLUDE)